# paysafe-npm-read
registry=https://artifactory.neterra.paysafe.com/artifactory/api/npm/paysafe-usc/
_auth=cGF5c2FmZS1ucG0tcmVhZDI6QUtDcDhuR1FyYnd4czNlRjVwWW1vYjh0TnBqV05zUHhLNnl2ejlnYWs2WVRuaUY5ZGlVdVNDVm94SEc1bWlNTE1KUm9jblZlcg==
always-auth=true
email=dev-oneplatform@optimalpayments.com
